/* src/pages/MovieDetails/MovieDetails.css */

/* Page container */
.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-image: url("../../assets/bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00070f;

  min-height: 100vh;
  width: 100%;
}

/* Centered Back Button */
.movie-details__back-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  z-index: 5;
  position: relative;
}

.movie-details__back-button {
  background-color: #0c46c2;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.movie-details__back-button:hover {
  background-color: #0831a1;
}

/* Top container */
.movie-details__top-card {
  background-color: rgba(17, 17, 17, 0.95);
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Bookmark top-right */
.movie-details__bookmark {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

/* Top section: poster + info */
.movie-details__top {
  display: flex;
  gap: 20px;
}

.movie-details__poster-container {
  flex-shrink: 0;
}

.movie-details__poster {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-details__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-details__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Bottom Card: plot + awards */
.movie-details__bottom-card {
  background-color: rgba(17, 17, 17, 0.95);
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.movie-details__plot-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.movie-details__plot,
.movie-details__awards {
  margin-bottom: 8px;
}

.movie-details__loading {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .movie-details__top {
    flex-direction: column;
    align-items: center;
  }

  .movie-details__poster {
    width: 200px;
    height: 300px;
  }

  .movie-details__info {
    align-items: center;
    text-align: center;
  }
}

