.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 100px;
  height: 100px;
  filter: invert(100%);
}

.title p {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 12px;
  padding-bottom: 2px;
}

.title p span {
  color: #0c46c2; /* Highlight for "Search" */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.favorites__btn {
  padding: 10px 32px;
  border-radius: 500px;
  color: #fff;
  font-weight: bold;
  background-color: #0c46c2;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.favorites__btn:hover {
  background: #0799ed;
  transform: scale(1.1);
}

.favorites__btn:active {
  background: #42e7ef;
  color: #fff;
}




