.favorites__wrapper {
  padding: 40px 20px;
  min-height: 60vh;
}

.favorites__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.favorites__empty {
  text-align: center;
  color: #ccc;
  font-size: 1.1rem;
  margin-top: 60px;
  line-height: 1.6;
}

