/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL BACKGROUND IMAGE */
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: url("./assets/bg-1.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

/* Ensure app stretches full height */
#root {
  min-height: 100vh;
}

/* App wrapper */
.app__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main content pushes footer down */
.main {
  flex: 1;
}

