@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/*
BASIC STYLES
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}